<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftd.schaepher.coursemanagement">

    <!--读取sd卡的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <!--上网的权限-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FileSelectActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.ExcelDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensor">
        </activity>
        <activity
            android:name=".activities.TaskListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.TaskCreationActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.TaskDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.TeacherCreationActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.TeacherListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.TeacherDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".tools.NetChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
